@media screen and (max-width: 1000px) {
    #desk-nav {
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }

    span:is(#hello, #world) {
        font-size: 80px;
        line-height: 80px;
    }
    
    .typerwiter {
        line-height: 0px;
        font-size: 30px;
    }
    
    .info > p:first-of-type {
        font-size: 30px;
    }
    span:is(#name){
        font-size: 40px;
    }
    #def {
        font-size: 25px;
    }
    span:is(#line){
        font-size: 25px;
    }
}