/* Basic styl50px 20px;
}
h1 {
    font-size: 30px;
}

span:is(#hello, #world) {
    font-size: 120px;
    line-height: 110px;
}
#hello {
    font-weight:lighter;
}

.typerwiter {
    line-height: 0px;
    font-size: 35px;
}
.auto-type {
    color: white;
}

.name {
    position: absolute;
    right: 4%;
    top: 40%;
}
.name > p:first-of-type {
    font-size: 40px;
    text-align: right;
    line-height: 0px;
}
span:is(#name){
    font-weight: bold;
    font-size: 50px;
    color: white;
}
#def {
    font-size: 30px;
    text-align: right;
    line-height: 0px;
}
span:is(#line){
    /* font-weight: bold; */
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.project {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.home-section {
    background: linear-gradient(rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.212)), url('Media/6.png') center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    /* text-align: center; */
    color: #21036c;
}

.about-section {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 50%, rgba(180, 176, 176, 0) 50%), url('Media/5.png') center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: ;
    color: #ffffff;
}

.portfolio-section {
    background: linear-gradient(to right, rgba(255, 253, 253, 0) 50%, rgba(0, 0, 0, 0.25) 50%), url('Media/none.jpg') center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: #ffffff;
}

.resume-section {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 50%, rgba(255, 253, 253, 0) 50%), url('Media/none.jpg') center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    color: #ffffff;
}

.blog-section {
    background: linear-gradient(to right, rgba(255, 253, 253, 0) 50%, rgba(0, 0, 0, 0.25) 50%), url('Media/none.png') center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    color: #ffffff;
}

.contact-section {
    background: linear-gradient(rgba(0, 0, 0, 0.175), rgba(0, 0, 0, 0.25)), url('Media/none.jpg') center fixed;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

footer {
    text-align: center;
    color: #fff;
}
