/* Basic styling, customize as needed */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #000000;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0px;
    width: 100vw;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 50px 20px;
}

h1 {
    font-size: 30px;
}

span {
    font-size: 120px;
}

#hello {
    font-weight: bold;
}
.project {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}


.home-section {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.364)), url('1.JPG') center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    /* text-align: center; */
    color: #fff;
}

.about-section {
    background: linear-gradient(to right, rgba(255, 253, 253, 0) 50%, rgba(0, 0, 0, 0.581) 50%), url('p2.jpg') center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.portfolio-section {
    background: linear-gradient(to right, rgba(255, 253, 253, 0) 50%, rgba(0, 0, 0, 0.581) 50%), url('abstract.jpg') center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.resume-section {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.581) 50%, rgba(255, 253, 253, 0) 50%), url('abstract2.jpg') center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.blog-section {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.581) 50%, rgba(255, 253, 253, 0) 50%), url('abstract3.png') center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.contact-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('6.jpg') center fixed;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

footer {
    text-align: center;
    color: #fff;
}
